* {
    box-sizing: border-box;
    border: 10px solid mediumpurple;
    margin: 0;
    padding: 0;
}

img {
    width: 100px;
    heightL: 100px;
}

.img-start {
    border: 12px solid skyblue;
}

.img-start1 {
    border: 2px solid skyblue;
}
#img-master{
    border: 3px dashed yellow;
}